doctype html
html
    head
        meta(charset='UTF-8')
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block head
        link(rel='stylesheet' href='style.css')
    body
        block body
